:root{
    font-size: 62.5%;
    --blanco: #ffffff;
    --primario: #19192C;
    --secundario: #474F66;
    --grisOscuro: #6c757d;
    --grisClaro: #dee2e6;
    --grisMuyClaro: #c9cdd1ec;
    --oscuro: #161a1d;
    --negro: #0b090a;
    --small: 1.5rem;
    --medium: 1.8rem;
    --large: 2.8rem; 
}

.small{
    font-size: var(--small);
}
.medium{
    font-size: var(--medium);
}
.large{
    font-size: var(--large);
}

html {
    box-sizing: border-box;
    min-height: 100%;
    margin: 0;
}
body{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Rubik', sans-serif;
    background-color: var(--grisClaro);
}
*, *:before, *:after {
    box-sizing: inherit;
}
.container{
    padding: 1rem;
    margin: 100px auto 100px auto;
    width: 500px;
    height: auto;
    text-align: center;
    border-radius: 10px;
    background-color: var(--blanco);
}
.container_app{
    background-color: var(--primario);
    color: var(--blanco);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 200px;
    padding: 0 100px;
}
.container_inputs{
    display: flex;
    flex-direction: column;;
    text-align: center;
    align-items: center;
}
.container_inputs input{
    width: 100%;
}
.label_input{
    font-size: 1.1rem;
    font-weight: 200;
    margin-bottom: 3px;
    margin-top: 5px;
    color: var(--grisClaro);
}
.input{
    background-color: rgba(0, 0, 0, 0);
    color: var(--grisClaro);
    border: 1px solid var(--secundario);
    border-radius: 3px;
    padding: 1rem;
    font-size: var(--small);

}
.submit_discount{
    margin-top: 10px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid var(--blanco);
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 1px;
    color: var(--blanco);
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}
.submit_discount:hover{
    background-color: var(--blanco);
    color: var(--oscuro);
}
.show_results_container{
    background-color: var(--oscuro);
    width: 100%;
    height: auto;
    padding: 10px 0;
}
.coupon_validate{
    color: var(--blanco);
    font-size: var(--small);
    padding-top: 5px;
    margin: 0;
}
.discount_total{
    color: var(--grisClaro);
    font-size: var(--small);
    padding-top: 5px;
    margin: 0;
}
.results_finalPrice{
    color: var(--grisClaro);
    font-size: var(--small);
    padding-top: 5px;
    margin: 0;
}
/* Solid border */
.line_solid {
    margin-top: 10px;
    border-top: 1px solid var(--grisClaro);
}